This is a Next.js project using App Router.
We're using Drizzle as the ORM and Postgres as the database.
We're using TailwindCSS for styling and shadcn for components.

we use actions servers instead of API when we can and use services that are called by actions.

This is a comedy club app with several features.